@import '../../styles/abstracts/variables';

.how-we-work {
  display: flex;
  position: relative;
  justify-content: space-between;
  gap: 40px;

  .car-img {
    position: absolute;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 50%;
    max-width: 40%;
  }

  .points {
    width: 900px;
    max-width: 60%;
  }

  .point {
    --width: 46px;
    --margin-bottom: 48px;
    display: flex;
    position: relative;
    width: 100%;

    .service-title {
      color: $gray-200;
      transition: color 0.5s ease-out;
    }

    &-number {
      margin-right: 32px;
      background-color: $gray;
      color: $primary-dark-color;
      min-width: var(--width);
      height: var(--width);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s ease-out;
    }

    @for $i from 1 through 8 {
      &:nth-child(#{$i}) {
        .service-title,
        .point-number {
          transition-delay: #{$i * 0.1}s;
        }
      }
    }

    .point-number {
        color: $primary-black-color;
    }

    &--active {
      .service-title {
        color: $primary-color;
      }

      .point-number {
        background-color: $primary-color;
        color: $white;
      }
    }

    &:not(:last-of-type)::after {
      content: '';
      z-index: -1;
      height: calc(100% + var(--margin-bottom));
      top: var(--width);
      left: calc(var(--width) / 2);
      position: absolute;
      width: 2px;
      background-color: $primary-color;
    }
  }

  .point:not(:last-child) {
    margin-bottom: var(--margin-bottom);
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .how-we-work {
    .points {
      width: 100%;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .how-we-work {
    flex-direction: column;

    .car-img {
      display: none;
    }

    .points,
    .left-side {
      max-width: 100%;
    }

    .point {
      --width: 36px;
      --margin-bottom: 32px;

      &-number {
        margin-right: 24px;
      }
    }
  }
} 